.layoutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0%;
    background-color: #F8F9FA;
}
.layoutBody{
    height: 90vh;
    overflow-y: auto;
}
.layoutLeft {
    width: 260px;
    height: 100vh;

}

.layoutRight {
    /* width: 80%; */
    flex: 1;
    height: 100vh;
    position: relative;
}

.topbars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0rem 3rem;
}


.topbarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.topbarRight div {
    margin-left: 2rem;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    top: 28%;
    left: 5%;
}

.search input {
    border-radius: 10px;
    border: 0.5px solid #E2E8F0;
    background: #FFF;
    height: 40px;
}

.search input:focus {
    border: none;
    outline: none;
}

.search input[type='search'] {
    padding-left: 2rem;
    font-size: 16px;
}
.topIcon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.topIcon span{
   font-family:Helvetica;
   color: #718096;
   font-size: 14px;
   font-weight: 700;
   
}

.topIcon img {
    height: 25px;
    width: 25px;
}

/* .topbar {
    position: absolute;
    top: 0%;
    width: 100%;
} */
.topbarLeft span {
    display: block;
    text-transform: capitalize;
    color: #A0AEC0;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.183px;
    /* 144.896% */
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: white;
}

.footer ul {
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0rem;
    margin-left: 4rem;
}

.footer ul li img {
    margin: 0rem 0.7rem;
}

.sideBarContainer {
    width: 260px;
    background-color: #fff;
    border: 1px solid #E6E7EC;
    height: 100vh;
    border-radius: 24px 24px 0px 0px;
}
.sideBarContainer hr {
    border: 1px solid #dcdde3;
    margin: 12px 0px;
}

.logo {
    text-align: center;
    /* margin: 0.4rem 0rem; */
    margin-top: 0.4rem;
    margin-right: 0.8rem;
}

.logo img{
    height: 40px;
    width: 105px;
    object-fit: cover;
    padding-right:5px;
    overflow: visible;
}

.user {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 1px solid #E6E7EC;
    border-radius: 16px;
    width: 90%;
    margin: auto;
    padding: 0.8rem 0.1rem;
    align-items: center;

}

.user h3 {
    font-size: 15px;
    font-weight: 700;
    color: #0A1B39;
}

.user img {
    border-radius: 50%;
}

.user p {
    font-size: 14px;
    font-weight: 400;
    color: #83899F;

}

.help {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 1px solid #E6E7EC;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    /* padding: 0.8rem 0.3rem; */
    padding: 0.7rem 0.1rem;
    align-items: center;
    background-color: #f5f6f8;
    margin-top: 70px;
}

.help h3 {
    font-size: 15px;
    font-weight: 700;
    color: #0A1B39;
}

.help img {
    /* margin-right:0.7rem; */
    border-radius: 50%;
    padding: 8px;
    background-color: #fff;
}

.help p {
    font-size: 14px;
    font-weight: 400;
    color: #83899F;

}

.sidebarList {
    width: 80%;
    margin: auto;
    height: 356px;
    overflow-y: auto;
    /* margin-top: 10px; */
    /* background: #000; */
}
.sidebarList::-webkit-scrollbar {
    width: 0;
  }
.listItem ul {
    display: none;
    margin-top: 0.7rem;
}

.listItem ul li {
    padding-bottom: 0.7rem;
    position: relative;
    list-style: none;
}

.listItem ul li::before {
    position: absolute;
    content: '';
    top: 25%;
    left: -11.5%;
    background-color: #D8DBE4;
    width: 7px;
    height: 7px;
    border-radius: 100%;
}

.listItem ul .activeLi a {
    color: #5D5FEF !important;
    font-weight: 700;
    transition: 0.5s;
}

.listItem ul .activeLi::before {
    /* color: #5D5FEF !important;  */
    position: absolute;
    content: '';
    top: 25%;
    left: -11.5%;
    background-color: #5D5FEF;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    z-index: 5 !important;
}

.listItem ul li::after {
    position: absolute;
    content: '';
    top: 41%;
    left: -10.2%;
    /* border-left: 1px solid; */
    background-color: #D8DBE4;
    width: 2px;
    height: 86%;
    z-index: 1 !important;
}

@media screen and (max-width:1200px) {
    .listItem ul li::after {
        left: -10.1% !important;
    }
}

.listItem ul li::marker {
    font-size: 18px;
    color: #D8DBE4;
}

.listItem ul li:last-child {
    padding-bottom: 0rem !important;
    position: relative;
}

.listItem ul li:last-child::after {
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    background-color: transparent !important;
    width: 0px !important;
    height: 0% !important;
}

.listItem ul li a {
    text-decoration: none;
    color: #485066;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    transition: 0.5s;

}

.showList {
    display: block !important;
}

.listSub {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.listItem {
    margin-bottom: 1rem;
}

.listSub span {
    color: #2D3748;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.listSub span img {
    margin-right: 0.5rem;
}

.setting {
    /* width: 90%; */
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap:8px;
    justify-content: start;
    /* border: 1px solid #E6E7EC; */
    border-radius: 5px;
    padding: 0.2rem 1.5rem;
    margin-top: 1rem;
}
.setting img {
    margin-left: 5px;

}
.setting p{
    font-weight: 400;
    font-size: 14px;
    color: #676E85;
}