.tableBox{
    font-family: Helvetica;
    width: 95%;
    /* max-width: fit-content; */
    min-width: fit-content;
    margin: 1.5rem;
    padding: 0.5rem 1.2rem;
    column-gap:10px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px #00000005;
}

.tableBox p{
  font-size: 18px;
  font-weight: 700;
  color:#2D3748;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.customTable {
    border-collapse: collapse;
    width: 100%;
    /* max-width: fit-content; */
    background-color: #fff;

  }

  @media screen and (max-width:1500px) {

    .customTable {
        overflow-x: scroll;
    }
    .tableBox{
      overflow-x: scroll;
    }
  }

  
.customTable div{
    display: inline;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: 700;
}
.customTable input{
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    width: 140px;
    height: 29px;
    border: none;
    padding: 5px 10px;
    background-color:#F8F9FA;
    color: #2D3748;

}
.customTable input:focus{
    border: none;
    outline: none;
}
.customTable input::placeholder{
    color:#A0AEC0;
    font-size: 13px;
    font-weight: 400;
}
  
  .customTable th,
  .customTable td {
    border: none;
    border-bottom: 1px solid #E2E8F0;
    padding: 0.5rem 0px;
    text-align: left;
    margin: 0rem ,10rem;
    font-size: 14px;
    font-weight: 700;
  }
  .customTable tr:last-child td {
    border: none;
    border-bottom: 0px solid #ddd;
  }
  .customTable tr:first-child td {
    border: none;
    border-bottom: 0px solid #ddd;
  }
  .customTable td {
    color: #2D3748;
    padding-right: 8px;
  }
  .customTable tr{
    cursor: pointer;
  }
  .customTable th {
    padding-bottom: 0.5rem;
    color: #A0AEC0;
    font-size: 13px;
    font-weight: 700;
  }

  .customTable img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border:2px solid #fff;
        margin-right: 2px;
  }
  .customTable button{
    /* width: 24px; */
    /* height: 24px; */
    border-radius: 8px;
    border:2px solid #fff;
    padding: 0.3rem 0.5rem;
    background-color: #48BB78;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
}

.customTable h5{
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  background-color: #F56D58;
  color: #fff;
  height: 26px;
  width: 26px;
}

.customTable span{
  color:#A0AEC0;
  font-size: 14px;
  font-weight: 700;
}