.container{
    font-family: Helvetica;
}
.boxContainer{
    font-family: Helvetica;
    width: 80%;
    margin: 1.5rem;
    padding: 0.2rem 2rem 1.5rem 2rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px #00000005;
}

.boxContainer div{
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 15px;
    font-weight: 700;
    color: #2D3748;
    font-family: Helvetica;
}

.boxContainer span{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #2D3748;
}